{% load staticfiles  %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/funciones.js' %}"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/casco.png' %}"/>

    <title>Notes UAQ</title>
</head>
<body>

        {% block content %}
        <!-- NAVBAR HOME -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <img src="{% static 'img/casco.png' %}" alt="Logo de la Facultad de Informatica" id="logo-facultad1">
                <a class="navbar-brand" href="">Notes UAQ</a>
              
                <div class="collapse navbar-collapse" id="navbarColor02">
                  <ul class="navbar-nav mr-auto" >
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'index_login' %}">Inicia Sesion</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'Registro' %}">Registro</a>
                    </li>
                  </ul>
                </div>
            </nav>
        {% endblock %}
</body>
</html>